openapi: 3.0.1
info:
  title: Multiplier API
  description: >-
    Multiplier (usemultiplier.com) is a global employment platform providing
    Employer of Record (EOR), Contractor management, and Global Payroll across
    150+ countries. Multiplier's API is an integration surface rather than an
    open, self-serve public API: it is used to synchronize members (employees and
    contractors), employment contracts, payroll, payments, time off, and invoices
    between Multiplier and external HRIS / payroll / identity systems such as
    Workday, HiBob, BambooHR, and Personio.


    Access is provisioned per account. An administrator creates a Service User and
    a paired API token in Multiplier's Configuration area; the token is supplied
    in the `Authorization` request header. Multiplier does NOT publish an
    endpoint-level public API reference, so this OpenAPI document intentionally
    declares an empty `paths` object. No endpoints, request bodies, or response
    schemas have been fabricated. The `servers` URL is a representative placeholder
    and is not an officially published base URL.


    Disambiguation: an unrelated product at docs.multiplierhq.com also uses the
    name "Multiplier" and documents its own request-access / get-access-types
    endpoints. That product is not the usemultiplier.com global employment
    platform described here and is intentionally excluded.
  version: '1.0'
  contact:
    name: Multiplier Support
    url: https://help.usemultiplier.com/
  termsOfService: https://www.usemultiplier.com/legal/terms-of-service
servers:
  - url: https://api.usemultiplier.com
    description: >-
      Representative base URL for Multiplier integration access. Not officially
      published; actual connection details are provided to customers and partners
      during integration onboarding.
security:
  - ServiceUserToken: []
paths: {}
components:
  securitySchemes:
    ServiceUserToken:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        Service User API token created by an account administrator in
        Multiplier's Configuration area and supplied in the Authorization
        header. Tokens are scoped to the account and its enabled integrations.
  schemas: {}
tags:
  - name: Members
    description: Employees and contractors managed by Multiplier (integration sync).
  - name: Contracts
    description: Employment and contractor agreement data (integration sync).
  - name: Payroll
    description: Multi-country payroll and compensation data (integration sync).
  - name: Payments
    description: Payment and disbursement data for members and contractors.
  - name: Time Off
    description: Leave requests, balances, holidays, and timesheets.
  - name: Invoices
    description: Invoice and billing data for employment and payroll services.
